#g-above {
    background: $above-background;
    color: $above-text-color;
    padding: $section-padding 0;

    .section-title, .selfie-submaintitle {
      color: #27394a;
    }

}

@media print {
    #g-above {
        background: #fff !important;
        color: #000 !important;
    }
}
