#g-intro {
    background: $intro-background;
    color: $intro-text-color;
    //padding: $section-padding 0;

    .border-right .g-content.g-particle, .border-left .g-content.g-particle {
      margin: 0;
    }

    h3.selfie-services-image-title {
      color: $intro-text-color;
      margin: 0 0 15px 0;
    }
    p {
      font-size: 14px;
    }
}

@media print {
    #g-intro {
        background: #fff !important;
        color: #000 !important;
    }
}
