#g-mainbar {
    background: transparent;
    color: $base-text-color;
    padding: $section-padding 0;

    .section-title {
      color: #999;
    }
    
}

@media print {
	#g-main {
		background: #fff !important;
		color: #000 !important;
	}
}
