{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

    <!-- Section Title -->
		<p class="selfie-submaintitle9babb3">{{ particle.label }}</p>
		<div class="section-title {{ particle.class|e }}">
      {% if particle.icon %}
  			<div>
          <i class="{{ particle.icon }}"></i>
  			</div>
      {% endif %}
      {% if particle.title %}
		   <h1>{{ particle.title }}</h1>
      {% endif %}
		</div>

{% endblock %}
