{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

<div class="selfie-circle-widget {{ particle.class|e }}">
    <span style="background:#1abc9c;">
        <i style="color:#ffffff;" class="{{ particle.icon }}"></i>
    </span>
    <h3 style="color:#9babb3;">{{ particle.label }}</h3>
    <p style="color:#9babb3;">{{ particle.desc }}</p>
</div>

{% endblock %}
