.portfolio-filter,
.portfolio-filter li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio-filter li {
    display: inline-block;
    margin: 0 3px;

    .button {
        margin-bottom: 10px;
    }
}

.portfolio {
    . {
        width: 313px;
        margin: 0 auto;
    }

    . .item {
        overflow: hidden;
    }

    . .item .image {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
    }

    . .item .overlay {
        background-image: none;
        padding: 20px;
    }

    . .item .overlay .tile {
        width: 100%;
        height: 100%;
    }

    . .item .overlay .link,
    . .item .overlay .link:active,
    . .item .overlay .link:focus,
    . .item .overlay .link:hover,
    . .item .overlay .link:visited {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 33%;
        color: #fff;
        text-decoration: none;
    }

    .item .overlay .link .title {
        position: relative;
        display: block;
        width: 100%;
        font-size: 15px;
        letter-spacing: 0.3em;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 36px;
    }

    .item .overlay .link .title:after {
        display: block;
        content: "";
        position: absolute;
        top: 26px;
        left: 50%;
        width: 25px;
        height: 2px;
        margin: 0 0 0 -12px;
        background: #fff;
    }

    .item .overlay .link .category {
        display: block;
        width: 100%;
        font-family: 'Meie Script';
        font-size: 18px;
        text-transform: lowercase;
        text-align: center;
    }

    .image,
    .item .overlay,
    .item .overlay .link,
    .item .overlay .link .category,
    .item .overlay .tile {
        -webkit-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
        -moz-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
        -o-transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
        transition-timing-function: cubic-bezier(0.13, 0.71, 0.30, 0.94);
        -webkit-transition-duration: 0.35s;
        -moz-transition-duration: 0.35s;
        -o-transition-duration: 0.35s;
        transition-duration: 0.35s;
    }

    .item:hover .image,
    .item:hover .overlay {
        -webkit-transition-duration: 2s;
        -moz-transition-duration: 2s;
        -o-transition-duration: 2s;
        transition-duration: 2s;
    }

    .item:hover .overlay .link,
    .item:hover .overlay .link .category,
    .item:hover .overlay .tile {
        -webkit-transition-duration: 0.75s;
        -moz-transition-duration: 0.75s;
        -o-transition-duration: 0.75s;
        transition-duration: 0.75s;
    }

    .item:hover .image {
        -webkit-transform: scale(1.2) rotate(3deg);
        -moz-transform: scale(1.2) rotate(3deg);
        -o-transform: scale(1.2) rotate(3deg);
        -ms-transform: scale(1.2) rotate(3deg);
        transform: scale(1.2) rotate(3deg);
    }

    .item .overlay .tile {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }

    .item:hover .overlay .tile {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .item .overlay .link {
        -webkit-perspective: 500px;
        -moz-perspective: 500px;
        perspective: 500px;
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
    }

    .item:hover .overlay .link {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }

    .item .overlay .link .category {
        -webkit-transform: translateY(35px);
        -moz-transform: translateY(35px);
        -o-transform: translateY(35px);
        -ms-transform: translateY(35px);
        transform: translateY(35px);
    }

    .item:hover .overlay .link .category {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    .item:hover .overlay .link .title {
        -webkit-animation: title 3s forwards linear;
        -moz-animation: title 3s forwards linear;
        -o-animation: title 3s forwards linear;
        animation: title 3s forwards linear;
    }
}
